.pokemon-container{
    display:flex;
    flex-wrap:wrap
}
.pokemon-container > div{
    position:relative;
    margin:16px;
	border-radius: 1em;
    width:150px;
    height:150px;
}
.pokemon-container > div:before{
    position:absolute;
    transform:translate3d(-16px,-16px,0);
    z-index:2
}
.pokemon-container .id,.pokemon-container .name{
    position:absolute;
    padding:5px 15px;
    background:rgba(255,255,255,.45);
    font-size:16px;
    z-index:1
}
.pokemon-container .id{
    right:0;
}
.pokemon-container .name{
    bottom:0;
}
.pokemon-container .id:before{
    content:"# "
}
.pokemon-container img{
    width:100%;
    transform:scale(.7)
}
.pokemon-container .grass{
    background-image:url(src/img/backgrounds/grass.png)
}
.pokemon-container .fire{
    background-image:url(src/img/backgrounds/fire.png)
}
.pokemon-container .water{
    background-image:url(src/img/backgrounds/water.png)
}
.pokemon-container .bug{
    background-image:url(src/img/backgrounds/bug.png)
}
.pokemon-container .normal{
    background-image:url(src/img/backgrounds/normal.png)
}
.pokemon-container .poison{
    background-image:url(src/img/backgrounds/poison.png)
}
.pokemon-container .electric{
    background-image:url(src/img/backgrounds/electric.png)
}
.pokemon-container .ground{
    background-image:url(src/img/backgrounds/ground.png)
}
.pokemon-container .dragon{
    background-image:url(src/img/backgrounds/dragon.png)
}
.pokemon-container .fairy{
    background-image:url(src/img/backgrounds/fairy.png)
}
.pokemon-container .fighting{
    background-image:url(src/img/backgrounds/fighting.png)
}
.pokemon-container .flying{
    background-image:url(src/img/backgrounds/flying.png)
}
.pokemon-container .ghost{
    background-image:url(src/img/backgrounds/ghost.png)
}
.pokemon-container .ice{
    background-image:url(src/img/backgrounds/ice.png)
}
.pokemon-container .psychic{
    background-image:url(src/img/backgrounds/psychic.png)
}
.pokemon-container .rock{
    background-image:url(src/img/backgrounds/rock.png)
}
.pokemon-container .steel{
    background-image:url(src/img/backgrounds/steel.png)
}
.pokemon-container .dark{
    background-image:url(src/img/backgrounds/dark.png)
}
.pokemon-container .grass:before{
    content:url(src/img/icons/grass.png)
}
.pokemon-container .fire:before{
    content:url(src/img/icons/fire.png)
}
.pokemon-container .water:before{
    content:url(src/img/icons/water.png)
}
.pokemon-container .bug:before{
    content:url(src/img/icons/bug.png)
}
.pokemon-container .normal:before{
    content:url(src/img/icons/normal.png)
}
.pokemon-container .poison:before{
    content:url(src/img/icons/poison.png)
}
.pokemon-container .electric:before{
    content:url(src/img/icons/electric.png)
}
.pokemon-container .ground:before{
    content:url(src/img/icons/ground.png)
}
.pokemon-container .dragon:before{
    content:url(src/img/icons/dragon.png)
}
.pokemon-container .fairy:before{
    content:url(src/img/icons/fairy.png)
}
.pokemon-container .fighting:before{
    content:url(src/img/icons/fighting.png)
}
.pokemon-container .flying:before{
    content:url(src/img/icons/flying.png)
}
.pokemon-container .ghost:before{
    content:url(src/img/icons/ghost.png)
}
.pokemon-container .ice:before{
    content:url(src/img/icons/ice.png)
}
.pokemon-container .psychic:before{
    content:url(src/img/icons/psychic.png)
}
.pokemon-container .rock:before{
    content:url(src/img/icons/rock.png)
}
.pokemon-container .steel:before{
    content:url(src/img/icons/steel.png)
}
.pokemon-container .dark:before{
    content:url(src/img/icons/dark.png)
}
.poke-card {
  display: flex;
  margin: 1.5em 0;
  border-radius: 1em;
  max-width: 400px;
  background: #fff;
  box-shadow: 0 1rem 40px rgba(34, 35, 58, 0.25);
  flex-direction: row;
  overflow: hidden;
  cursor: default;
  color: #333;
}
.poke-back {
  flex: 2;
  position: relative;
  background-position: top center;
  background-size: cover;
}
.poke-back img {
  display: block;
  position: absolute;
  max-width: unset;
  height: 100%;
}
.poke-data {
  flex: 1;
  position: relative;
  padding: 1.5em 2em;
  text-align: right;
  background: rgb(255,255,255,.9);
}
.poke-id {
  font-size: 1.5em;
  text-align: right;
}
.poke-type {
  font-size: .8em;
  font-weight: bold;
  text-transform: capitalize;
}
.poke-type span {
    display: inline-block;
    margin-left: .5em;
}
.poke-type .text-grass {
	color: green;
}
.poke-type .text-poison {
	color: #a866c8;
}
.poke-type .text-fire {
	color: #ff9c54;
}
.poke-type .text-water {
	color: #4f92d6;
}
.poke-type .text-bug {
	color: #91c12d;
}
.poke-type .text-ground {
	color: #d97846;
}
.poke-type .text-rock {
	color: #cdbf8e;
}
.poke-type .text-normal {
	color: #919aa1;
}
.poke-type .text-dragon {
	color: #096ac1;
}
.poke-type .text-dark {
	color: #5a5467;
}
.poke-type .text-flying {
	color: #90a9de;
}
.poke-type .text-fairy {
	color: #ed8ee5;
}
.poke-type .text-fighting {
	color: #ce406a;
}
.poke-type .text-psychic {
	color: #f87479;
}
.poke-type .text-electric {
	color: #f4d23d;
}
.poke-type .text-steel {
	color: #53879c;
}
.poke-type .text-ice {
	color: #74cec1;
}
.poke-type .text-ghost {
	color: #5469ad;
}
.poke-icon {
  position: absolute;
  top: 1em;
  left: -4em;
  border: 6px solid #fff;
  border-radius: 50%;
  width: 4em;
  height: 4em;
  background: #eee;
  transform: translateX(25%);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat
}
@media screen and (max-width: 400px){
	.poke-card {
		margin-top: 4em;
		flex-direction: column;
		overflow: visible;
	}
	.poke-back {
		border-radius: 1em 1em 0 0;
		min-height: 150px;
	}
	.poke-back img {
		width: 100%;
		height: auto;
	}
	.poke-data {
		border-radius: inherit;
		background: linear-gradient(135deg,transparent,rgb(255,255,255,.6),#fff,#fff);
	}
	.poke-icon {
		top: -12em;
		left: 50%;
		transform: translateX(-50%);
	}
}
@media screen and (max-width: 250px){
	.poke-data {
		padding-top: 3em;
	}
}
.poke-grass .poke-back {
  background-image: url(src/img/backgrounds/grass.png);
}
.poke-fire .poke-back {
    background-image:url(src/img/backgrounds/fire.png)
}
.poke-water .poke-back {
    background-image:url(src/img/backgrounds/water.png)
}
.poke-bug .poke-back {
    background-image:url(src/img/backgrounds/bug.png)
}
.poke-normal .poke-back {
    background-image:url(src/img/backgrounds/normal.png)
}
.poke-poison .poke-back {
    background-image:url(src/img/backgrounds/poison.png)
}
.poke-electric .poke-back {
    background-image:url(src/img/backgrounds/electric.png)
}
.poke-ground .poke-back {
    background-image:url(src/img/backgrounds/ground.png)
}
.poke-dragon .poke-back {
    background-image:url(src/img/backgrounds/dragon.png)
}
.poke-fairy .poke-back {
    background-image:url(src/img/backgrounds/fairy.png)
}
.poke-fighting .poke-back {
    background-image:url(src/img/backgrounds/fighting.png)
}
.poke-flying .poke-back {
    background-image:url(src/img/backgrounds/flying.png)
}
.poke-ghost .poke-back {
    background-image:url(src/img/backgrounds/ghost.png)
}
.poke-ice .poke-back {
    background-image:url(src/img/backgrounds/ice.png)
}
.poke-psychic .poke-back {
    background-image:url(src/img/backgrounds/psychic.png)
}
.poke-rock .poke-back {
    background-image:url(src/img/backgrounds/rock.png)
}
.poke-steel .poke-back {
    background-image:url(src/img/backgrounds/steel.png)
}
.poke-dark .poke-back {
    background-image:url(src/img/backgrounds/dark.png)
}
.poke-grass .poke-icon {
	background-image: url(src/img/icons/grass.png), linear-gradient(-60deg, #16a085 0%, #f4d03f 100%);
}
.poke-grass .poke-icon {
    background-image:url(src/img/icons/grass.png)
}
.poke-fire .poke-icon {
    background-image:url(src/img/icons/fire.png)
}
.poke-water .poke-icon {
    background-image:url(src/img/icons/water.png)
}
.poke-bug .poke-icon {
    background-image:url(src/img/icons/bug.png)
}
.poke-normal .poke-icon {
    background-image:url(src/img/icons/normal.png)
}
.poke-poison .poke-icon {
    background-image:url(src/img/icons/poison.png)
}
.poke-electric .poke-icon {
    background-image:url(src/img/icons/electric.png)
}
.poke-ground .poke-icon {
    background-image:url(src/img/icons/ground.png)
}
.poke-dragon .poke-icon {
    background-image:url(src/img/icons/dragon.png)
}
.poke-fairy .poke-icon {
    background-image:url(src/img/icons/fairy.png)
}
.poke-fighting .poke-icon {
    background-image:url(src/img/icons/fighting.png)
}
.poke-flying .poke-icon {
    background-image:url(src/img/icons/flying.png)
}
.poke-ghost .poke-icon {
    background-image:url(src/img/icons/ghost.png)
}
.poke-ice .poke-icon {
    background-image:url(src/img/icons/ice.png)
}
.poke-psychic .poke-icon {
    background-image:url(src/img/icons/psychic.png)
}
.poke-rock .poke-icon {
    background-image:url(src/img/icons/rock.png)
}
.poke-steel .poke-icon {
    background-image:url(src/img/icons/steel.png)
}
.poke-dark .poke-icon {
    background-image:url(src/img/icons/dark.png)
}
.poke-github {
  position: absolute;
  right: -.5rem;
  bottom: -1rem;
  display: block;
  line-height: 1;
  background:  linear-gradient(135deg, #fff 0%, #aaa 100%) no-repeat;
  font-size: 5rem;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  opacity: .3
}
